@use "../../styles/partials/variables" as *;
@use "../../styles//partials/mixins" as *;

.nav {
  @include flex(space-between, center, row);
  border-top: 1px $secondary-background solid;
  border-bottom: 1px $secondary-background solid;
  max-width: $desktop;

  &__list {
    @include flex(space-between, center, row);
    padding: 0;
    padding-left: 2rem;
    margin: 0;
  }
  &__item {
    padding: 1rem 2rem;
    list-style: none;
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: lighter;
    color: $label-font;
  }
}

.lang {
  &__wrap {
    @include flex(space-between, baseline, row);
    padding-right: 4rem;
  }
  &__icon {
    width: 1.6rem;
  }
  &__text {
    margin: 0;
    font-weight: lighter;
    font-size: 1.6rem;
    margin-left: 0.9rem;
  }
}

.main {
  height: 108rem;
  background-image: url(../../assets/images/bg_search.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  &__bg-cover {
    height: 108rem;
    width: 100%;
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.85) 0,
      rgba(0, 0, 0, 0.4) 40%,
      rgba(0, 0, 0, 0.05) 80%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}
.products {
  width: 48rem;
  margin: 0 auto;
  padding: 7rem 0 4.6rem;
  @include flex(space-between, center, row);
  position: relative;

  &__item {
    background-color: $secondary-background;
    @include flex(center, center, column);
    list-style: none;
    font-family: Roboto;
    font-weight: 400;
    width: 16rem;
    height: 16rem;
    margin: 0 0.1rem;

    &--active {
      background-color: $primary-background;
      border-radius: 5px 0 0 5px;
    }

    &--right {
      border-radius: 0 5px 5px 0;
    }
  }

  &__icon {
    width: 4rem;
    height: 5rem;
    margin-top: 3.2rem;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: 500;
    color: $label-text;
  }

  &__red {
    color: $highlight;
  }

  &__selected-arrow {
    position: absolute;
    top: 22.9rem;
    left: 6.9rem;
    width: 2.4rem;
    height: 1.5rem;
  }
}

.search {
  width: 100rem;
  height: 27rem;
  background-color: $primary-background;
  margin: 0 auto;
  border-radius: 5px;
  font-size: 1.6rem;
  &__top {
    @include flex(space-between, center, row);
    height: 7rem;
    padding: 1rem 6.4rem 1.8rem;
  }
  &__top-left {
    @include flex(space-between, center, row);
  }
  &__top-link {
    color: #2a78cd;
    margin: 2rem 2rem 0 0;
    padding-left: 2rem;
    font-weight: 700;
    border-left: 2px solid $outline;
    font-size: 1.6rem;
    &--active {
      border-bottom: 2px solid;
      border-left: none;
      padding: 0;
    }
  }

  &__explore {
    font-size: 1.6rem;
    margin: 2rem 0 0 0;
    font-weight: 400;
  }
  &__bottom {
    @include flex(space-between, center, row);
    padding: 0 6.4rem 4rem;
  }
  &__bottom-left {
    @include flex(space-between, flex-start, column);
  }
  &__destination {
    @include flex(space-around, flex-start, column);
    width: 28rem;
    height: 6.4rem;
    border: 1px solid $outline;
    border-radius: 5px;
    padding: 0.4rem 1rem;

    &:hover {
      background-color: $secondary-background;
    }

    &--from {
      margin-bottom: 1rem;
    }
  }
  &__label {
    margin: 0;
    font-weight: 300;
    font-size: 1.4rem;
  }
  &__text {
    margin: 0;
    font-weight: 700;
    overflow: hidden;
    width: 28rem;
  }
  &__container {
    @include flex(space-between, center, column);
    border: 1px solid $outline;
    border-radius: 5px;
    width: 14rem;
    height: 14rem;
    padding: 2.5rem 0;
    margin-left: 1rem;
    &:hover {
      background-color: $secondary-background;
    }
  }
  &__title {
    color: #545454;
    font-weight: 500;
    margin: 0;
  }
  &__date {
    font-size: 3rem;
    color: #b73e3e;
    margin: 1rem 0;
  }
  &__month {
    margin: 0;
  }
  &__passengers {
    @include flex(space-between, center, row);
    border: 1px solid $outline;
    border-radius: 5px;
    width: 14rem;
    height: 14rem;
    padding: 2.5rem 1rem;
    margin-left: 1rem;
    &:hover {
      background-color: $secondary-background;
    }
  }
  &__pass-icon {
    width: 2.4rem;
    height: 2.4rem;
  }
  &__pass-wrap {
    @include flex(space-between, flex-start, column);
    width: 70%;
  }
  &__count {
    margin: 0.4rem 0;
    font-weight: 700;
  }
  &__arrow {
  }
  &__link {
    border-radius: 5px;
    width: 14rem;
    height: 14rem;
    padding: 2.5rem 0;
    margin-left: 1rem;
    background-color: $highlight;
    text-align: center;
    &:hover {
      background-color: $highlight-hover;
    }
  }
  &__icon {
    height: 3.5rem;
    width: 3.5rem;
    margin: 3rem 0;
  }
}
