@font-face {
  font-family: "Mylius";
  src: url("../../assets/fonts/MyliusModern-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Mylius";
  src: url("../../assets/fonts/MyliusModern-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Mylius";
  src: url("../../assets/fonts/MyliusModern-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Mylius";
  src: url("../../assets/fonts/MyliusModern-ExtraLight.ttf");
  font-weight: 200;
}
