// COLORS:
$primary-background: #fefffe;
$secondary-background: #ecedec;

$primary-button: #2c5d98;
$primary-button-hover: #2770d3;
$highlight: #b73e3e;
$label-text: #292929;

$outline: #c9c9c9;

$primary-font: #021b41;
$secondary-font: #2671d3;
$label-font: #172e4d;

//MAX WIDTH
$desktop: 128rem;

// BUTTONS
$button-first: #2f75d5;
$button-business: #140e0e;
$button-premium: #3f3f3f;
$button-economy: #c7c7c7;
