// COLORS:
$primary-background: #fefffe;
$secondary-background: #ecedec;

$primary-button: #2c5d98;
$primary-button-hover: #2770d3;

$primary-font: #021b41;
$secondary-font: #2671d3;

//MAX WIDTH
$desktop: 128rem;
