// COLORS:
$primary-background: #fefffe;
$secondary-background: #ecedec;
$header-bg: #f8f8f8;

$primary-button: #2c5d98;
$primary-button-hover: #2f75d5;
$highlight: #b73e3e;
$highlight-hover: #cf2424;

$label-text: #292929;
$light-text: #f2f2f2;

$outline: #c9c9c9;

$primary-font: #021b41;
$secondary-font: #2671d3;
$label-font: #172e4d;

$secondary-scroll: #eae9e9;
//MAX WIDTH
$desktop: 128rem;
